*{
  padding: 0;
  margin:0
}

body{
  min-height: 100vh;
}

.title{
  width: 100%;
  background-color: darkcyan;
  padding: 20px;

}

.father_content{
  display: flex;
  flex-direction: column;
}

.paragraph{
  display: grid;
  border: 2px solid black;
  justify-content: center;
}

.main_content_left{
  padding: 25px;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(3,1fr);
  width: 75%;
}

